svg {
    font-family: sans-serif;
    font-size: 10px;
  }
  
  .axis text {
    fill: #777;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  
  .circle {
    fill: #69b3a2;
    opacity: 0.7;
  }
  
  .tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    z-index: 1;
  }
  
  .com1{
    display: inline-block;
    position:relative;
    left: -3vw;
    height: 60vh;
    width: 40vw;
    /* border: 1px solid rgb(9, 9, 10); */
    border-radius: 10px;
    margin-top: 10vh;
    /* box-shadow: -1px -1px 4px -1px rgba(0,0,0,0.25); */
    box-shadow: 0px 0px 3px 3px rgb(41, 37, 37);
  }