@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bruno+Ace+SC&family=Dancing+Script&family=DynaPuff&family=Fjalla+One&family=Great+Vibes&family=Kaushan+Script&family=Lilita+One&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
    display: inline-block;
    font-size: 100px;
    font-weight: 400;
    font-family: 'Bruno Ace SC', cursive;
    color: blue;
    width: 90vw;
    height: 20vh;
    text-align: center;
    justify-self:center;
    align-items: center;
    align-content: center;

}
.com{
    display: inline-block;
    height: 20vh;
    width: 83vw;
    /* border: 1px solid rgb(9, 9, 10); */
    border-radius: 10px;
    margin-top: 3vh;
    position: relative;
    left: -1vw;
    top: 2vh;
    box-shadow: 0px 0px 3px 3px rgb(41, 37, 37);
    /* box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25); */
}
  
 